In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [ ]:
train = pd.read_csv("train.csv", index_col="index")
test = pd.read_csv("test.csv", index_col="index")

train = train.dropna()

In [ ]:
train = train.drop(columns=["address", "city", "image_id"])
test = test.drop(columns=["address", "city", "image_id"])

In [ ]:
train

       rooms  retail_price    sqft  toilets
index
5832     2.0        299000  1295.0      2.0
5584     3.0        299000  1566.0      2.0
9408     5.0        499990  3068.0      3.0
4644     4.0        849900  2230.0      2.1
5739     3.0        333490  1898.0      2.0
...      ...           ...     ...      ...
792      4.0        289990  1498.0      2.0
10671    4.0        895000  2981.0      3.0
11650    3.0        479900  1272.0      1.0
2134     4.0        599000  1924.0      3.0
6812     5.0        549900  2867.0      3.0

[8061 rows x 4 columns]

In [ ]:
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
model = linear_model.LinearRegression()

In [ ]:
y = train["retail_price"]
X = train.drop(["retail_price"], axis = 1)

In [ ]:
model.fit(X, y)

LinearRegression()

In [ ]:
test

       rooms  sqft  toilets
index
3076       3  1510      2.0
3218       4  2342      3.0
9213       2  2845      3.0
10018      4  2379      3.0
11355      4  1836      3.0
...      ...   ...      ...
9421       4  2092      2.1
219        3  2000      2.1
10333      5  3002      3.1
2814       3  1811      3.1
11190      3  1376      2.0

[3601 rows x 3 columns]

In [ ]:
pred = model.predict(test)

In [ ]:
test["retail_price"] = pred
test

       rooms  sqft  toilets      predicted   retail_price
index
3076       3  1510      2.0  535584.863333  535584.863333
3218       4  2342      3.0  727006.911051  727006.911051
9213       2  2845      3.0  919901.758506  919901.758506
10018      4  2379      3.0  734323.551049  734323.551049
11355      4  1836      3.0  626946.915409  626946.915409
...      ...   ...      ...            ...            ...
9421       4  2092      2.1  611320.643350  611320.643350
219        3  2000      2.1  639841.963317  639841.963317
10333      5  3002      3.1  818166.959171  818166.959171
2814       3  1811      3.1  676078.342956  676078.342956
11190      3  1376      2.0  509086.761721  509086.761721

[3601 rows x 5 columns]

In [ ]:
test.drop(["rooms", "sqft","toilets","predicted"], axis = 1, inplace=True)

In [ ]:
test.to_csv("pred.csv")

# Ideas you can try!
This is a very simple model using only some of the features. Consider the following ideas:
1. Can you make use of the address somehow eventhough it is unique?
2. What can you do about the missing data? Can you interpolate somehow?
3. How can you make use of the images to build a deep learning model? How can you fuse it with the tabular data?

Join for the workshop to understand the basics and know more ideas...